* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-dark-4);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /*! --- COLORS --- */
  --color-dark: #23252b;
  --color-grey: #575653;
  --color-white: #e8e8e8;
  --color-orange: #f47521;
}

/*! --- ANIMATIONS --- !*/
@keyframes loadSliderProgress {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

a {
  text-decoration: none;
}
